# Ignore all files in build directory except JARs
build/*
!build/libs/
!build/libs/*.jar

# Ignore Git files
.git/
.gitignore

# Ignore IDE/editor-specific files
*.swp
*.idea/
*.vscode/

# Ignore logs, temp files, and environment files
*.log
*.tmp
.env
